/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2019, 6:49:25 PM
    Author     : Michael Griffin
*/


/* The styles for the elements */
h1 {     
    /**font-size: 140%;**/
    color: teal;
    margin-bottom: .5em;
}

.ui-tabs .ui-tabs-nav {    
    text-align: center;
}
.ui-tabs .ui-tabs-nav li {
    float: none !important;
    display: inline-block;
}

.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}
/* Registration */
.label {
    width:40%;
    padding:4px;
}

.value {
    width:80%;
    padding:4px;
}

.grid {
    width:100%;
}

.error {
    color: red;
}

.output {
    width: 100%;
}

.outputLabel {
    font-weight: bold;
}

.grid {
    width:33%;
    padding:4px;
}

.ui-breadcrumb ul li {
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
}

.ui-breadcrumb ul li a.ui-icon-home {
  margin-top: 1px;
  overflow: hidden;
  padding: 0;
}

.ui-widget-header a {
  color: #222;
}

.ui-breadcrumb ul li .ui-menuitem-link {
  display: block;
  float: left;
  margin-top: 3px;
  overflow: hidden;
  position: relative;
  color: #222;
  font-size: 90%;
  font-weight: bold;
}

.ui-breadcrumb-chevron {
  margin-top: 2px;
}

