<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"       
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Food Truck Finder</title>
            <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
            <h:outputStylesheet name="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
            <h:outputStylesheet name="main.css"  library="css" />
        </f:facet>
    </h:head>
