<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Food Truck Finder</title>
            <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
            <h:outputStylesheet name="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
            <h:outputStylesheet name="https://use.fontawesome.com/releases/v5.5.0/css/all.css"/>
            <h:outputStylesheet name="main.css"  library="css" />
        </f:facet>

        <style type="text/css">
            .tableUpdated {
                width: 90% !important;
                margin: 17px 58px 0 !important;
            }
            .btnSpace {
                margin: 17px;
            }     
        </style>
    </h:head>

    <h:body class="centered-wrapper">

        <p:breadCrumb homeDisplay="text">
            <p:menuitem value="Dashboard" url="/foodtruck/main.jsf" />
            <p:menuitem value="Vendor Administration" url="/foodtruck/adm_vendor.jsf" />
        </p:breadCrumb>

        <div class="centered-content" style="margin-top: 50px;">

            <h1>Vendor - Menu Editor</h1>
            <h:form id="formMenuEditor">         

                <p:growl id="growl" showDetail="true" sticky="false" life="2500" />

                <center><h2><h:outputText value="Menu Name: ${vendorController.menu.name}"/></h2></center>

                <!-- Small Note on how the Editing works -->
                <p:panel id="pn" header="" class="tableUpdated" style="margin-bottom:10px;">
                    <h:outputText value="Field Editor - After changes you must hit ENTER, TAB, or Click out of a field to save the edit. Once the 
                                  edit fields are yellow, you can then click either SAVE or CANCEL to confirm changes." 
                                  style="color: darkcyan;"/>
                </p:panel>

                <p:dataTable rendered="#{loginController.isValidSession()}" id="menuTable" value="#{vendorController.getItemsList()}" var="item" editable="true"
                             class="table table-striped table-hover table-bordered tableUpdated">
                    <p:column>
                        <f:facet name="header">Id</f:facet>
                        <h:outputText value="#{item.index}"/>
                    </p:column>
                    
                    <!-- Check edit flag in record for yellow background -->
                    <p:column style="#{item.edit ? 'background-color: yellow' : '' }">
                        <f:facet name="header">Item Name</f:facet>
                        <p:inputText id="itemName" value="#{item.name}" maxlength="45" >
                            <p:ajax event="change" update="menuTable, @form" listener="#{vendorController.onCellEdit}"/>
                        </p:inputText>                        
                    </p:column>
                    
                    <!-- Check edit flag in record for yellow background -->
                    <p:column style="#{item.edit ? 'background-color: yellow' : '' }">
                        <f:facet name="header">Item Price</f:facet>
                        <p:inputText id="itemPrice" value="#{item.price}" maxlength="10">
                            <p:ajax event="change" update="menuTable, @form" listener="#{vendorController.onCellEdit}"/>
                            <!-- Tables use Special Converter vs. just Input Fields Below When adding new -->
                            <f:convertNumber type="currency" />
                        </p:inputText>
                    </p:column>

                    <p:column>
                        <f:facet name="header"></f:facet>
                        <p:commandButton action="#{vendorController.editItem(item.index)}" icon="pi pi-save" class="ui-button" value="Save Edit"  ajax="true" update="@form"/>
                        <p:commandButton action="#{vendorController.cancelItem(item.index)}" icon="pi pi-ban" class="ui-button" value="Cancel Edit"  ajax="true" update="@form"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header"></f:facet>
                        <p:commandButton action="#{vendorController.deleteItem(item.index)}" icon="pi pi-minus" class="ui-button" value="Delete Item"  ajax="true" update="@form"/>
                    </p:column>
                </p:dataTable>
                <br />

                <!-- Panel for Adding new Items to the Menu -->
                <p:panel id="pnl" header="" class="tableUpdated" style="margin-bottom:10px;">
                    <h:outputText value="Name: &nbsp;" />
                    <p:inputText id="newItem" value="#{vendorController.newItem}" autocomplete="off">
                    </p:inputText>
                    <h:outputText value="&nbsp;&nbsp;Price: &nbsp;" />
                    <p:inputText id="newPrice" value="#{vendorController.newPrice}">
                        <f:convertNumber type="currency" />
                    </p:inputText>

                    <h:outputText value="&nbsp;&nbsp;" />
                    <p:commandButton action="#{vendorController.addItem()}" icon="pi pi-plus" value="Add" class="ui-button"  ajax="true" update="@form" />
                </p:panel>

                <p:panel rendered="#{!loginController.isValidSession()}">
                    <h1 class="formTitle" style="color: red;">Food Truck Finder Error - Session is timeout.</h1>
                    <p>Please login to access the application.</p>

                    <p:commandButton value="Sign-Out" icon="pi pi-home" id="returnHome" action="#{loginController.logout()}" />
                </p:panel>

                <br />
            </h:form>
        </div>
    </h:body>
</html>

