<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"       
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Food Truck Finder</title>
            <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
            <h:outputStylesheet name="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
            <h:outputStylesheet name="main.css"  library="css" />
        </f:facet>
    </h:head>

    <h:body class="centered-wrapper">
        <div class="centered-content" style="margin-top: 50px;">
            <h:form id="form">

                <h1 class="formTitle">Food Truck Finder</h1>

                <p:messages style="margin-top:-10px; width: 400px;" showDetail="true" closable="true" id="msg" >
                    <p:autoUpdate />
                </p:messages>
                <br />
                <p:tabView style="margin-top:-10px; width: 400px;" id="tabview"  activeIndex="#{loginController.tabview}" >        
                    <p:ajax event="tabChange" partialSubmit="true" listener="#{loginController.onTabChange}" update=":form:msg"/>
                    
                    <!-- Sign-In TAB -->
                    <p:tab id="tab1" title="Sign-In">
                        <p:panel id="pnl" header="Login to Food Truck Finder" style="margin-bottom:10px;">
                            <h:panelGrid style="text-align: left;">
                                <p:inputText id="username" value="#{loginController.loginId}" autocomplete="off">
                                </p:inputText>
                                <p:watermark for="username" value="Username" /><br />
                                <p:password id="password" value="#{loginController.password}"/>
                                <p:watermark for="password" value="Password" />
                            </h:panelGrid>
                        </p:panel>
                        <p:commandButton value="Sign-in" icon="pi pi-user" id="signin" action="#{loginController.login()}" />
                    </p:tab>
                    <!-- Registration TAB -->
                    <p:tab id="tab2" title="Register">
                        <p:panel id="pn2" header="Register with Food Truck Finder" style="margin-bottom:10px;">
                            <h:panelGrid style="text-align: left;">
                                <p:inputText id="username2" value="#{loginController.registerId}" autocomplete="off">
                                </p:inputText>
                                <p:watermark for="username2" value="Username" /><br />
                                <p:password id="password2" value="#{loginController.registerPass}" />
                                <p:watermark for="password2" value="Password" />
                            </h:panelGrid>
                        </p:panel>
                        <p:commandButton class="ui-button" value="Next" icon="pi pi-chevron-right" id="next" action="#{loginController.register()}" />
                    </p:tab>
                </p:tabView>
            </h:form>
        </div>
    </h:body>
</html>

