<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">


    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Food Truck Finder</title>
                <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
                <h:outputStylesheet name="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
                <h:outputStylesheet name="https://use.fontawesome.com/releases/v5.5.0/css/all.css"/>
                <h:outputStylesheet name="main.css"  library="css" />
            </f:facet>

            <style type="text/css">
                .ui-panel, div.ui-state-hover {
                    margin: 10px;
                    width:400px;
                }

                .ui-dashboard-column {
                    width:420px;
                }
            </style>
        </h:head>

        <h:body class="centered-wrapper">

            <p:breadCrumb homeDisplay="text">
                <p:menuitem value="Dashboard" url="/foodtruck/main.jsf" />
            </p:breadCrumb>

            <!-- Rendered Displays for Invalid Sessions -->
            <p:panel rendered="#{!loginController.isValidSession()}">
                <h1 class="formTitle" style="color: red;">Food Truck Finder Error - Session Timed Out.</h1>
                <p>Please login to access the application.</p>

                <div style="clear:both" />
                <p:commandButton value="Home" icon="pi pi-home" id="home" action="#{loginController.logout()}" />   
            </p:panel>        

            <div>
                <p:panel rendered="#{loginController.getUserType() eq 'Vendor'}">
                    <h1 class="formTitle" style="color: darkcyan;">Vendor Dashboard.</h1>  
                    <p>Welcome - <i class="pi pi-user">#{loginController.getUserName()}</i></p>
                    <div style="clear:both" />
                </p:panel>  

                <p:panel rendered="#{loginController.getUserType() eq 'User'}">
                    <h1 class="formTitle" style="color: red;">User Dashboard</h1>
                    <p>Welcome - <i class="pi pi-user">#{loginController.getUserName()}</i></p>
                    <p>The System is still WIP Only Vendors Accounts have Options at this time.</p>
                </p:panel>  
            </div>

            <div>

                <p:messages style="margin-top:-10px; width: 670px;" showDetail="true" closable="true" id="msg">
                    <p:autoUpdate />
                </p:messages>
                <br />
                <div style="height:500px">
                    <h:form>
                        <p:growl id="msgs" showDetail="true" />

                        <p:dashboard id="board" model="#{dashboardController.model}" rendered="#{loginController.getUserType() eq 'Vendor'}">
                            <p:ajax event="reorder" listener="#{dashboardController.handleReorder}" update="msgs" />

                            <p:panel id="vendor_adm" header="Vendor Functions">
                                <p:commandLink rendered="#{loginController.isValidSession()}" value="Vendor Administration" id="edit" action="#{dashboardController.vendor()}" />   
                            </p:panel>                           

                        </p:dashboard>
                        <br />                                     

                        <div style="clear:both" />
                        <p:commandButton rendered="#{loginController.isValidSession()}" value="Logout" icon="pi pi-power-off" id="logout" action="#{loginController.logout()}" />   

                    </h:form>
                </div>
            </div>
        </h:body>
    </f:view>

</html>

