<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Food Truck Finder</title>
            <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
            <h:outputStylesheet name="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
            <h:outputStylesheet name="main.css"  library="css" />
        </f:facet>
    </h:head>

    <h:body class="centered-wrapper">

        <p:breadCrumb homeDisplay="text">
            <p:menuitem value="Home" url="/foodtruck/login.jsf" />
            <p:menuitem value="Registration" url="/foodtruck/register.jsf" />
        </p:breadCrumb>

        <div class="centered-content" style="margin-top: 50px;">

            <h1>Food Truck Registration Wizard</h1>
            <h:form id="formRegister">         

                <p:growl id="growl" sticky="true" showDetail="true"/>

                <p:wizard flowListener="#{registrationController.onFlowProcess}" rendered="#{loginController.isValidRegistration()}">
                    <p:tab id="personal" title="Personal">
                        <p:panel header="Personal Details">
                            <p:messages />

                            <h:panelGrid columns="2" columnClasses="label, value" style="text-align: left">
                                <h:outputText value="Firstname: *" />
                                <p:inputText value="#{registrationController.register.firstName}" required="true" label="Firstname"/>

                                <h:outputText value="Lastname: *" />
                                <p:inputText value="#{registrationController.register.lastName}" required="true" label="Lastname"/>

                                <h:outputText value="Date Of Birth: *" />
                                <p:datePicker id="dob" value="#{registrationController.register.dateOfBirth}" label="dob" required="true" pattern="MM/dd/yyyy" showIcon="false"/>
                                <p:watermark for="dob" value="mm/dd/yyyy" />

                                <h:inputHidden/>
                                <h:outputText value="Gender: *" />
                                <p:selectOneMenu id="gender" value="#{registrationController.register.gender}" required="true" label="gender" effect="fold">
                                    <f:selectItems value="#{registrationController.genderTypes}" />
                                </p:selectOneMenu>

                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab id="contact" title="Contact">
                        <p:panel header="Contact And Account Information">
                            <p:messages />

                            <h:panelGrid id="contactPanel" columns="2" columnClasses="label, value" style="text-align: left">
                                <h:outputText value="Email: *" />
                                <p:inputText value="#{registrationController.register.email}" required="true" label="email"/>

                                <h:outputText value="Phone: " />
                                <p:inputText id="phone" value="#{registrationController.register.phone}" label="phone"/>
                                <p:watermark for="phone" value="###-###-####" />

                                <h:inputHidden/>
                                <h:outputText value="Acount Type: " />
                                <p:selectOneMenu id="usertpye" value="#{registrationController.selectedUserType}" required="true" label="account" effect="fold">
                                    <!-- AJAX Event needed to refreshing object on changes -->
                                    <f:ajax event="change" execute="@this" render="contactPanel1" />
                                    <f:selectItems value="#{registrationController.userTypes}" />
                                </p:selectOneMenu>                                
                            </h:panelGrid>

                            <h:panelGrid id="contactPanel1" columns="2" columnClasses="label, value" style="text-align: left">
                                <!-- Show License Number only when Vendor Type is selected above -->
                                <h:inputHidden/>

                                <h:outputText rendered="#{registrationController.selectedUserType eq 'Vendor'}" value="Vendor Name: *" />
                                <p:inputText rendered="#{registrationController.selectedUserType eq 'Vendor'}" required="true" value="#{registrationController.vendor.name}" label="vendor_name"/>

                                <h:outputText rendered="#{registrationController.selectedUserType eq 'Vendor'}" value="Vendor License: *" />
                                <p:inputText rendered="#{registrationController.selectedUserType eq 'Vendor'}" required="true" value="#{registrationController.register.vendorLicense}" label="license"/>
                            </h:panelGrid>

                        </p:panel>
                    </p:tab>

                    <p:tab id="confirm" title="Confirmation">
                        <p:panel header="Confirmation">
                            <h:panelGrid id="confirmation" columns="4" columnClasses="grid,grid">
                                <h:panelGrid columns="2" columnClasses="label, value" style="text-align: left">
                                    <h:outputText value="Firstname: " styleClass="output" />
                                    <h:outputText value="#{registrationController.register.firstName}" styleClass="outputLabel"/>

                                    <h:outputText value="Lastname: " styleClass="output" />
                                    <h:outputText value="#{registrationController.register.lastName}" styleClass="outputLabel"/>

                                    <h:outputText value="Birth: " styleClass="output" />
                                    <h:outputText value="#{registrationController.register.dateOfBirth}" styleClass="outputLabel">
                                        <f:convertDateTime pattern = "MM/dd/yyyy" />
                                    </h:outputText>

                                    <h:outputText value="Gender: " styleClass="output" />
                                    <h:outputText value="#{registrationController.register.gender}" styleClass="outputLabel"/>
                                </h:panelGrid>

                                <h:panelGrid columns="2" columnClasses="label, value" style="text-align: left">
                                    <h:outputText value="Email: " styleClass="output" />
                                    <h:outputText value="#{registrationController.register.email}" styleClass="outputLabel"/>

                                    <h:outputText value="Phone: " styleClass="output" />
                                    <h:outputText value="#{registrationController.register.phone}" styleClass="outputLabel"/>

                                    <h:outputText value="Account: " styleClass="output" />
                                    <h:outputText value="#{registrationController.selectedUserType}" styleClass="outputLabel"/>

                                    <h:outputText rendered="#{registrationController.selectedUserType eq 'Vendor'}" value="License: " styleClass="output" />
                                    <h:outputText rendered="#{registrationController.selectedUserType eq 'Vendor'}" value="#{registrationController.register.vendorLicense}" styleClass="outputLabel"/>

                                    <h:outputText rendered="#{registrationController.selectedUserType eq 'Vendor'}" value="Vendor Name: " styleClass="output" />
                                    <h:outputText rendered="#{registrationController.selectedUserType eq 'Vendor'}" value="#{registrationController.vendor.name}" styleClass="outputLabel"/>

                                    <h:outputText />
                                    <h:outputText />
                                </h:panelGrid>
                            </h:panelGrid>

                            <p:commandButton value="Submit" action="#{registrationController.saveRegistration()}" update="growl" process="@this"/>
                        </p:panel>
                    </p:tab>
                </p:wizard>


                <p:panel rendered="#{!loginController.isValidRegistration()}">
                    <h1 class="formTitle" style="color: red;">Food Truck Finder Error - Registration Session is invalid.</h1>
                    <p>Please login to access the application.</p>

                    <p:commandButton value="Home" icon="pi pi-home" id="returnHome" action="#{loginController.logout()}" />
                </p:panel>

                <br />
            </h:form>
        </div>
    </h:body>
</html>

